body {
    text-align: center;
    padding-top: 25px;
    font-family: 'Merriweather', serif;
}

iframe {
    max-width: 560px;
    height: 315px;
    width: 90%;
}

.text-container {
    margin: auto;
    max-width: 560px;
    width: 90%;
    text-align: left;
}